h1 {
    text-align: center;
    font-family: Papyrus, fantasy; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
}



h2 {
    text-align: center;
    justify-content: center;
}

.linea {
    border-top: 1px solid black;
    height: 2px;
    max-width: 80%;
    padding: 0;
    margin: 2px auto 0 auto;
}

#movies-button {
    text-align: center;
    background: transparent;
}

#image-movies {
    vertical-align: middle;
    width: 60%;
    height: 20%;
    margin-left: 19%
}

#imagen-baner {
    width: 60%;
    height: 200px;
    margin-left: 20%
}

body {
    background-color: rgb(212 221 221);
    width: 100%;
}


.card {
    width: 228px;
    height: 255px;
    display: flex;
    margin: 45px;
    border: 1px solid black;
    border-radius: 76px;

}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 30px;
    margin: 60px;
}

.title-card {
    padding: 20px;
    font-size: 130%;
    margin: 40px;
    text-align: center;
    margin-bottom: -43px;
    font-family: fantasy;
}

.title-films {
    padding: 20px;
    font-size: 200%;
    margin: 50px;
    text-align: center;
    margin-bottom: -43px;
    font-family: fantasy;
}

.card-films {
    width: 228px;
    height: 255px;
    display: flex;
    margin: 45px;
    border: 1px solid black;
    border-radius: 76px;

}

.select {
    display: none;
}


/* Estilos para el botón de filtro */
.select {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

/* Estilos para el hover del botón */
.select:hover {
    background-color: #3e8e41;
    color: white;
}

/* Estilos para el foco del botón */
.select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.div-select {
    padding: 10px 24px;
    display: flex;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Estilos para el hover del botón */
.select:hover {
    background-color: #3e8e41;
    color: white;
}

/* Estilos para el foco del botón */
.select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.input {
    width: 10%;
    height: 62%;

}

@media(max-width: 639px){

    #imagen-baner{
        justify-content: center;
        margin: 6px 25px;
        width: 250px;
        height: 80px;
        }

    /* Ajustes para el encabezado */
    h1 {
        font-family: Papyrus, fantasy; 
        font-size: 18px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: 450; 
        line-height: 26.4px;
    }
    /*Ajustes para los botones de búsqueda*/
    .div-select {
        display: flex;
        cursor: pointer;
        width: 100%;
    }
    /* Ajustes para la sección de contenido */ 
    .card-container{
        margin:14%;
        width: 50px;
        height: 50px;
        flex-wrap: wrap;
    
    }
    
    #image-movies{
        width: 250px;
        height: 80px;
    }
    }
