@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
h1 {
    text-align: center;
    font-family: Papyrus, fantasy;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

h2 {
    text-align: center;
    
}

.linea {
    border-top: 1px solid black;
    height: 2px;
    max-width: 80%;
    padding: 0;
    margin: 2px auto 0 auto;
}

#movies-button {
    text-align: center;
    background: transparent;
}

#imagen-baner {
    width: 100%;
    height: 200px;
}

body {
    background-color: rgb(212 221 221);
    width: 100%;
}

.card {
    width: 228px;
    height: 255px;
    display: flex;
    margin: 45px;
    border: 1px solid black;
    border-radius: 76px;
    cursor: pointer;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 30px;
    margin: 60px;
}

.title-card {
    padding: 20px;
    font-size: 130%;
    margin: 40px;
    text-align: center;
    margin-bottom: -43px;
    font-family: fantasy;
}

.title-films {
    padding: 20px;
    font-size: 200%;
    margin: 50px;
    text-align: center;
    margin-bottom: -43px;
    font-family: fantasy;
}

.card-films {
    width: 228px;
    height: 255px;
    display: flex;
    margin: 45px;
    border: 1px solid black;
    border-radius: 76px;

}

.select {
    display: none;
}

/* Estilos para el botón de filtro */
.select {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

/* Estilos para el hover del botón */
.select:hover {
    background-color: #3e8e41;
    color: white;
}

/* Estilos para el foco del botón */
.select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.div-select {
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Estilos para el hover del botón */
.select:hover {
    background-color: #3e8e41;
    color: white;
}

/* Estilos para el foco del botón */
.select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.input {
    width: 10%;
    height: 62%;

}
button {
    background-color: #47a386;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
    position: absolute;
    top: 30%;
    margin-left: 46%;
  }

.modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;  
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
  }
  .show {
    pointer-events: auto;
    opacity: 1;
  }

  .modal {
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }